.footer{
    background-color: #30211B;
    padding: 20px;
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}

.icons{
    display:flex;
    justify-content: space-between;
    width: 250px;
 }

 svg{
   transition: transform 300ms ease-in-out;
 }

 svg:hover{
    transform: scale(1.05);
 }