.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
}

.auth-box {
  background-color: #30211B;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  border: 1px solid #4a3a33;
  box-shadow: 0 0 15px rgba(189, 167, 141, 0.2);
}

.auth-box h2 {
  color: #BDA78D;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: #BDA78D;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.auth-box button:hover {
  background-color: #9a7a55;
  transform: scale(1.05);
}

.toggle-text {
  margin-top: 15px;
  color: #f0e9e1;
  cursor: pointer;
  font-size: 14px;
}

.toggle-text:hover {
  text-decoration: underline;
}